.App {
  margin-top: 100px;
}

h2 {
  text-align: center;
}

/*=======BUTTONS===========*/

.btn {
  border: none;
  cursor: pointer;
  background-color: #579af1;
  color: #d6d6d6;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  display: block;
  text-transform: uppercase;
}

.btn:hover {
  opacity: .9;
  color: #ffffff;
  transition: all .8s;
}

.btn.add {
  margin: 0 auto 10px;
}

.btn.subm {
  margin: 15px auto;
  width: 75%;
}

.btn.save, .btn.del, .btn.edit {
  padding: 5px;
  font-size: 12px;
  width: 60px;
}

.btn.save {
  background-color: #6ba71d;
}

.btn.del {
  background-color: #f52828;
}

.btn.edit {
  background-color: #f5c528;
}